<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Emp Crud</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Employee List</a></li>
          <li><a href="/create">Create</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 jumbotron text-center">
        <h1>Employee List</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <% for(var i=0; i<empInfo.length; i++){%>
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h1 class="panel-title text-center">
                <%= empInfo[i].name %>
              </h1>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">Emp ID:
                  <span class="pull-right"><%= empInfo[i].empid %></span>
                </li>
                <li class="list-group-item">Gender:
                  <span class="pull-right"><%= empInfo[i].gender %></span>
                </li>
                <li class="list-group-item">Email:
                  <span class="pull-right"><%= empInfo[i].email %></span>
                </li>
                <li class="list-group-item">Mobile:
                  <span class="pull-right"><%= empInfo[i].mobile %></span>
                </li>
                <li class="list-group-item">Salary:
                  <span class="pull-right"><%= empInfo[i].salary %></span>
                </li>
              </ul>
            </div>
            <div class="panel-footer">
              <a href="/edit/<%= empInfo[i]._id %>" class="btn btn-info"><span
                  class="glyphicon glyphicon-edit"></span></a>
              <a href="/delete/<%= empInfo[i]._id %>" class="btn btn-danger pull-right"><span
                  class="glyphicon glyphicon-trash"></span></a>
            </div>
          </div>
        </div>
        <%}%>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>